# For use of pip-compile command (managing this file)
pip-tools

# For vectorized array operations
numpy

# For optimization and other computational tools (can be used for ground truth)
scipy

# Testing framework
pytest

# Python code formatter
black

# Run black as part of the test suite
pytest-black

# For pre-commit hooks
pre-commit

# For static type analysis
mypy

# For invocation of mypy as part of pytest
pytest-mypy

# Python linting
flake8
flake8-bugbear
flake8-comprehensions
flake8-import-order
flake8-quotes
flake8-tidy-imports
pep8-naming

# Run flake8 as part of the test suite
pytest-flake8

# For plotting
matplotlib
